@import url('https://fonts.googleapis.com/css2?family=Acme&family=Quicksand:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    background: url(bg-4.avif);
    background-size: 15%;
    background-repeat: repeat;
}
.wrapper {
    background-color: rgb(95, 131, 160);
    width: 100%;
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
}
.main-header {
    background-color: #5c9bc9;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 24px;
    text-align: center;
}
.main-header h1 {
    font-family: "Acme", serif;
    color: #bbd9e7;
    font-size: 24px;
    text-align: justify;
}
main {
    padding: 30px;
    text-align: center;
}
.container-main {
    background-color: #bbd9e7;
    padding: 16px;
    max-width: 800px;
    margin: auto;
    border-radius: 20px;
}
.container-main img {
    padding: 20px 0;
    max-width: 70%;
}
.container-text {
    font-family: "Quicksand", serif;
    padding: 10px;
}
.container-text p {
    font-family: "Quicksand", serif;
    color: #2b64a0;
    font-size: 18px;
}
.container-text h1 {
    font-family: "Acme", serif;
    color: #2b64a0;
    font-size: 30px;
}
.nav-fitur {
    display: flex;
    flex-direction: column;
}
.nav-fitur summary {
    font-family: "Quicksand", serif;
    color: #fffcef;
    background-color: #2b64a0;
    margin: 15px auto 5px;
    padding: 16px 0;
    width: 50%;
    align-self: center;
    border-radius: 16px;
}
.nav-fitur summary:hover {
    color: #ecec2f;
    background-color: #ecec2f;
    transform: scale(1.05);
    z-index: 1;
}
#persegi {
    background-color: #bbd9e7;
    max-width: 700px;
    margin: 0 auto;
    border-radius: 20px;
    border: 5px solid;
    padding: 20px;
}
#persegi-panjang {
    background-color: #bbd9e7;
    max-width: 700px;
    margin: 0 auto;
    border-radius: 20px;
    border: 5px solid;
    padding: 20px;
}
section {
    padding: 0 16px;
}
.kotakin {
    color: #2b64a0;
    font-family: "Quicksand", serif;
    background-color: #ffffff;
    border: 5px solid;
    border-radius: 16px;
    border: 5px solid;
    padding: 20px;
    margin: 20px;
}
.rumus {
    padding: 10px;
}
.rumus h1 {
    font-family: "Quicksand", serif;
    font-size: 26px;
}
.rumus p {
    font-family: "Quicksand", serif;
    font-size: 18px;
}
.calculate-content {
    background-color: white;
    border: 3px solid;
    border-radius: 20px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
.calculate-content h2 {
    font-family: "Quicksand", serif;
    padding-bottom: 20px;
}
.calculate-content p {
    font-family: "Acme", serif;
    font-size: 16px;
    padding-top: 10px;
}
section h1 {
    font-family: "Acme", serif;
    color: #2b64a0;
    font-size: 26px;
    padding-bottom: 10px;
}
input {
    color: #2b64a0;
    font-family: "Acme", serif;
    font-size: 22px;
    text-align: center;
    margin: 5px;
}
.masuk {
    padding-top: 10px;
}
.masuk>button {
    margin-left: 10px;
}
.bpp {
    margin-top: 15px;
}
button {
    color: #fff6ef;
    background-color: #5c9bc9;
    text-align: center;
    font-family: "Acme", serif;
    padding: 8px;
    font-size: 18px;
}
button:hover {
    color: #fff6ef;
    background-color: #ecec2f;
    transform: scale(1.05);
}
.hitung {
    margin-left: 10px;
}
.reset-btn {
    color: #fff6ef;
    background-color: #ecec2f;
    margin-top: 10px;
}
footer {
    background-color: #5c9bc9;
    color: #ECF0F1;
    max-width: 990 px;
    justify-content: center;
    padding: 20px 0;
    text-align: center;
    font-family: "Acme", serif;
} 
footer p {
    margin: 5px 0;
    font-size: 14px;
}
